<div class="card text-break">
  <div
    class="card-header bg-dark text-white"
    style="cursor: pointer;"
    [routerLink]="'company/' + company._id"
  >
    {{ company.title }}
  </div>
  <div class="card-title pl-2 mb-0 pt-2">
    <div class="badge badge-danger text-wrap" style="width: 6rem;">
      {{ company.category }}
    </div>
    <div class="mt-2">
      <span class="text-primary" *ngIf="company.tags">
        {{ company.tags }}
      </span>
    </div>
  </div>
  <hr class="my-1" />

  <div class="card-body py-2">
    <p class="text-justify">{{ company.description.slice(0, 64) }} ....</p>
  </div>
  <div class="card-footer">
    <p class="text-muted">
      {{ company.currentAmount }} / {{ company.amount }} BYN
    </p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{
          width: amount
        }"
      >
        {{ amount }}
      </div>
    </div>
    <small class="text-muted">
      {{ daysRemain }}
      days remain
    </small>
  </div>
</div>
