@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.img-link {
  cursor: pointer;
  height: 30px;
}
