<div class="container" *ngIf="company && company._id === id; else loading">
  <div class="m-lg-4">
    <div class="card-title px-5 py-3">
      <h3 class="text-center mb-3">{{ company.title }}</h3>
      <div class="row justify-content-around">
        <div class="col-md-6 mb-2">
          <div class="pl-2 text-primary text-break">
            <span class="text-muted">Category: </span>
            <span class="lead">
             {{ company.category }}
             </span>
          </div>
          <div class="card-title pl-2 mb-0 pt-2" *ngIf="company.tags">
            <div class="mx-0">
              <span class="text-muted">Tags: </span>
              <span *ngFor="let tag of company.tags" class="badge ml-1 badge-danger">{{ tag }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <span class="ml-2 text-muted">Company started: </span>
            <span>
            {{ company.dateStart |date }}
          </span>
          </div>
          <div class="d-flex">
            <span class="mx-2 text-muted">Rates: </span>
            <div class="d-flex">
              <div class="rating d-flex flex-row-reverse">
                <span (click)="onStarClick($event)"
                      [class.clicked]="userLikeRate===5"
                      class="h4 pointer"
                      name="5">☆</span>
                <span (click)="onStarClick($event)"
                      [class.clicked]="userLikeRate===4"
                      class="h4 pointer" name="4">☆</span>
                <span (click)="onStarClick($event)"
                      [class.clicked]="userLikeRate===3"
                      class="h4 pointer" name="3">☆</span>
                <span (click)="onStarClick($event)"
                      [class.clicked]="userLikeRate===2"
                      class="h4 pointer" name="2">☆</span>
                <span (click)="onStarClick($event)"
                      [class.clicked]="userLikeRate===1"
                      class="h4 pointer" name="1">☆</span>
              </div>
              <div class="ml-2">
                 <span *ngIf="company.rates.rate">
                {{ (company.rates.rate / company.rates.count).toFixed(2) }}
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0" />
    <div class="card-body px-5 py-3">
      <h3 class="text-center">Description</h3>
      <p class="text-justify text-break">
        {{ company.description }}
      </p>

      <iframe
        *ngIf="company.youtubeLink"
        width="100%"
        height="400"
        [src]="'https://www.youtube.com/embed/' + company.youtubeLink | youtube"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <hr />
    <div *ngIf="company.bonuses.length !== 0">
      <h3 class="text-center mb-4">Bonuses</h3>
      <div class="row px-5">
        <div class="col-md-4" *ngFor="let bonuse of company.bonuses">
          <div class="card p-3">
            <div class="card-title">
              <h5 class="text-center">
                  {{ bonuse.name }}</h5>
            </div>
            <div class="card-body pt-0">
              <div class="card-text">
                <p class="text-justify">{{ bonuse.description }}</p>
              </div>
              <button class="btn btn-block btn-outline-dark"
                      [routerLink]="'/company/' + id + '/donation/' + bonuse.price">
                Donate {{ bonuse.price }} c.u.
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="px-5 py-3">
      <p class="text-muted">
        {{ company.currentAmount }} / {{ company.amount }} c.u.
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [ngStyle]="{
            width: amount
          }"
        >
          {{ amount }}
        </div>
      </div>
      <small class="text-muted">
        {{ daysRemain }}
        days remain
      </small>
      <button class="btn btn-block my-3 btn-dark" [routerLink]="'/company/' + id + '/donation/' + 0">Donation</button>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [className]="showComments ? 'nav-link active' : 'nav-link'"
             (click)="showNews = false; showComments = true" [routerLink]="'/company/'+ id + '/comments'">
            Show Comments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [className]="showNews ? 'nav-link active' : 'nav-link'"
             (click)="showNews = true; showComments = false" [routerLink]="'/company/'+ id + '/news'">
            Show News
          </a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loading>
  <div class="container">
    <h4 class="text-center">
      Loading...
    </h4>
  </div>
</ng-template>
