<div class="container">
  <div class="m-5 p-5 card">
    <h2 class="text-center">Support Company!</h2>
    <div class="form-group">
      <label for="donate">Donate Summ</label>
      <input id="donate" class="form-control"
             type="text"
             [(ngModel)]="donateSum"
             [disabled]="idBonuse.length > 1">
      <div class="mt-3">
        <button class="btn btn-outline-dark btn-block"
        (click)="onDonateClick()"
        >Donate</button>
        <button class="btn btn-dark btn-block" [routerLink]="'/company/' +idCompany">Cancel</button>
      </div>
    </div>
  </div>
</div>
