<div class="container">
  <div class="card p-3 m-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title of Company</label>
        <input
          type="text"
          class="form-control"
          name="title"
          formControlName="title"
          placeholder="Enter title...."
        />
        <small class="form-text text-muted">Min length 2 symbols</small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          class="form-control"
          name="description"
          formControlName="description"
          placeholder="Enter description...."
          rows="5"
        ></textarea>
        <small class="form-text text-muted">Min length 64 symbols</small>
      </div>
      <div class="form-group">
        <label for="category">Select Category</label>
        <select class="form-control" formControlName="category" name="category">
          <option value="services">Services</option>
          <option value="it">Information Technologies</option>
          <option value="innovations">Innovations</option>
          <option value="inventions">Inventions</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <input
          type="text"
          class="form-control"
          formControlName="tags"
          placeholder="Enter tags...."
        />
        <small class="form-text text-muted">Not required</small>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="text"
          class="form-control"
          formControlName="amount"
          placeholder="Enter required amount...."
        />
      </div>
      <div class="form-group">
        <label for="dateEnd">Company end date</label>
        <input type="date" class="form-control" formControlName="dateEnd" />
      </div>
      <div class="form-group">
        <label for="yLink">Youtube link</label>
        <input
          type="text"
          class="form-control"
          formControlName="yLink"
          placeholder="Enter Youtube Link...."
        />
        <small class="form-text text-muted">Not required</small>
      </div>
      <button type="submit" class="btn btn-dark mb-2">Create Company</button>
    </form>
  </div>
</div>
