<div class="container my-5">
  <div class="card">
    <div class="card-title my-3">
      <h2 class="text-center font-weight-normal">Login</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            matInput
            placeholder="Email"
            class="form-control"
            [(ngModel)]="email"
            type="text"
            required
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            matInput
            placeholder="Password"
            class="form-control"
            type="password"
            required
            [(ngModel)]="password"
            name="password"
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-block btn-outline-primary"
            value="Login"
          />
        </div>
      </form>
      <p class="bg-danger text-center mb-2 p-2 text-light" *ngIf="error">
        {{ error }}
      </p>
      <p class="text-center">...or login with social media</p>
      <div class="text-center">
        <img
          src="../../../assets/twitter.svg"
          alt="Twitter Auth"
          class="img-link"
        />
        <img
          src="../../../assets/github.svg"
          alt="GitHub Auth"
          class="img-link"
        />
      </div>
    </div>
  </div>
</div>
