<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav flex-row" *ngIf="!user; else userAuthenticated">
    <li class="nav-item mr-2">
      <a class="nav-link"
         (click)="activeLink='home'"
         [class.active]="activeLink==='home'"
         routerLink="/">Home</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link"
         (click)="activeLink='login'"
         [class.active]="activeLink==='login'"
         routerLink="/login">Login</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link"
         (click)="activeLink='register'"
         [class.active]="activeLink==='register'"
         routerLink="/register">Register</a>
    </li>
  </ul>
  <ng-template #userAuthenticated>
      <ul class="navbar-nav flex-row">
        <li class="nav-item mr-2">
          <a class="nav-link"
             (click)="activeLink='home'"
             [class.active]="activeLink==='home'"
             routerLink="/">Home</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link"
             (click)="activeLink='profile'"
             [class.active]="activeLink==='profile'"
             [routerLink]="'/profile/'+user.id">Profile</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" routerLink="/" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
      <span class="navbar-brand mb-0 h1 text-muted d-md-block d-none"
      >Hello, {{ user.name }}</span
      >
  </ng-template>
</nav>
