<div class="px-5">
    <form class="input-group mb-3" [formGroup]="form">
      <input type="text" class="form-control" formControlName="message" placeholder="Enter message...">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" [disabled]="!form.valid" (click)="sendMessage()">Send</button>
      </div>
    </form>
    <div *ngIf="companyMessages">
      <div class="card" *ngFor="let message of companyMessages">
        <div class="row">
          <div class="col-10">
            <h5>{{message.username}}</h5>
            <p>{{message.message}}</p>
          </div>
          <div class="col-2">
            <button class="btn"
                    [class.bg-danger]="user.likes.includes(message._id)"
                    (click)="onLikeClick(message._id)">
              {{message.likes}}
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
